html, body {
	height: 100%;
}

body {
	background-color: papayawhip;
	padding: 0 2em 0 2em;
}

#title-container {
	text-align: center;
}

#content-container {
	border: .1em solid black;
	padding: 1em;
}